.space {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    #1b1510 20em,
    #27211a 20em,
    #27211a 36em,
    #3f3a2e 36em,
  );
}